body{
  background-color: gold;
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
/*Heading for the currency converter*/
h1{
  margin: 0;
  margin-bottom: .5rem;
}
/*The number input area of the currency converter*/
.Num{
  border: 1px solid #5B2C6F;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}
/*Currency select for the different currencies*/
select{
  margin-left: .5rem;
  border: 1px solid #5B2C6F;
  border-radius: .3em;
}
/*Equals Symbol*/
.equal{
  font-weight: bold;
  font-size: 2rem;
}
